#app_blocked {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#app_blocked h1 {
    margin: 10px 0;
}

#app_blocked p {
    font-size: 150%;
    margin: 10px 0;
}